html {
  font: 400 11px Tahoma,Arial;
}
.rtl{direction:rtl}.ltr{direction:ltr}
.baraks{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);ms-filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-moz-transform:rotate(-180deg);-o-transform:rotate(-180deg);-webkit-transform:rotate(-180deg)}.red{color:red !important;}.submitattachment .postform_errbx{display:none}.submitattachment.loading .postform_errbx{display:block;width:100%}

.uk-navbar-nav > li {
  float: right !important;
  position: relative;
}
.uk-tab > li.uk-active > a ,.uk-thumbnail,a.uk-thumbnail:hover,a.uk-thumbnail:focus {
    background: none;
	}
	.uk-table th {
    text-align: center;
}
.uk-form-horizontal .uk-form-label {
    float: right;
	}
	.uk-navbar-nav > li > a {
  font-size: 11px;
  font-family: tahoma, Arial, sans-serif;
  }
  h1,h2,h3,h4,h5,h6 {
  font: Tahoma,Arial;
}